body{
      background: #693B69;
      font-size: 15px;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
}
.container{
      width: 80%;
      margin: 50px auto;
      color:  #ECD4EA;

}
.contact-box{
      background:  #ECD4EA;
      display: flex;
      color:var(--font-color);
      
}
.contact-left{
       flex-basis: 50%;
       padding: 40px 60px;
}
.contact-left{
      flex-basis: 50%;
      padding: 40px;
      background:white;
      color:#ECD4EA;
}
h1{
      margin-bottom: 10px;
}
.container p{
      margin-bottom: 40px;
}
.input-row{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
}
.input-row .input-group{
      flex-basis: 45%;
}
input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #ECD4EA;
      outline: none;
      padding-bottom: 5px;
}
textarea{
      width: 100%;
      border: 1px solid  #ECD4EA;
      outline: none;
      padding: 10px;
      box-sizing: border-box;
}
label{
      margin-bottom: 6px;
      display: block;
      color: var(--font-color);
}
button{
      background:  #ECD4EA;
      width: 100px;
      border: none;
      outline: none;
      color: var(--font-color);
      height: 35px;
      border-radius: 30px;
      margin-top: 20px;
      box-shadow: 0px 5px 15px 0px  #ECD4EA;
}
.contact-left h3{
      color:var(--font-color);
      font-weight: 600;
      margin-bottom: 30px;
}
.contact-right h3{
      font-weight: 600;
      margin-bottom: 30px;
     
}
tr td:first-child{
      padding-right: 20px;
}
tr td{
      padding-top: 20px;
}