@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
      --background-color: var(--first-color-light);

      --primary-color: rgb(8, 94, 61);
      --secondary-color: #ffd9c8d9;

      --white: rgb(244, 225, 240);

      --text-primary: rgb(249, 218, 176);

      --hue: 150;
      --first-color: hsl(var(--hue), 24%, 32%);
      --first-color-alt: hsl(var(--hue), 24%, 28%);
      --first-color-light: hsl(var(--hue), 24%, 66%);
      --first-color-lighten: hsl(var(--hue), 24%, 92%);
      --title-color: hsl(var(--hue), 4%, 15%);
      --text-color: hsl(var(--hue), 4%, 35%);
      --text-color-light: hsl(var(--hue), 4%, 55%);
      --body-color: hsl(var(--hue), 0%, 100%);
      --container-color: #FFF;

      --gradient-background: linear-gradient(to right, rgb(12, 94, 63), rgb(13, 132, 100), rgb(23, 141, 110));
}

h1,
h2,
h3,
h4 {
      color: var(--primary-color);
}

body {
      background-color: #e6e6e6;
      font-family: 'Philosopher', sans-serif;
      font-weight: bold;
}

/* ======================== Section Carousel ======================== */

.carousel {
      background-color: rgba(0, 0, 0, 0.4);
      height: 90vh;
}

.carousel-item {
      height: 90vh;
}

.carousel-inner img {
      object-fit: contain;
      height: 100%;
      object-position: 0px 0px;
}

.carousel-caption {
      top: 100px;
}

.carousel-caption h2 {
      margin-top: 50px;
      font-variant: small-caps;
      font-family: 'Philosopher', sans-serif;
      font-style: italic;
      font-display: initial;
      font-weight: 900;
      text-shadow: #462010 0 -2px;
      font-size: 80px;
      color: #000000;
      text-align: center;
}

.carousel-caption p {
      font-family: 'Philosopher', sans-serif;
      font-style: italic;
      font-size: 30px;
      color: rgb(211, 97, 49);
      text-align: center;
}

.carousel-blur {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* ===== End of Section Carousel ===== */







/* ===================== Section Image Gallery ===================== */

.img-gallery {
      height: 75vh;
}

.img-container {
      height: 80%;
}

.img-container>* {
      padding-left: 2px !important;
      padding-right: 2px !important;
}

.img-row {
      width: 100%;
      height: 50%;
}

.img-gallery img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
}

.img-row img {
      width: 100%;
      max-height: 100%;
      object-fit: cover;
}

/* ===== End of Section Image Gallery ===== */






/* ================== Section Gallery of Jewellery ================== */

h1.title-jewellery {
      text-align: center;
      font-size: 4rem;
      color: var(--primary-color);
      font-weight: 600;
}

/* ===== End of Section Gallery of Jewellery ===== */








/* ======================= Section Our Services ======================= */
.service {
      background: var(--primary-color);
      color: var(--secondary-color);
      padding: 30px;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      box-shadow: 0 0 20px -15px black;
      z-index: 1;
      transition: transform .7s;
}

.service-logo {
      width: 120px;
      height: 120px;
      border: 3px solid var(--primary-color);
      border-radius: 50%;
      /* border: 10px solid var(--background-color); */
      margin: -90px auto 0;
      background: #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: center;
}

.service-logo img {
      width: 80px;
      margin-top: 10px;
}

.service h4 {
      color: #e6e6e6;
      font-style: italic;
      height: 35px;
      width: 80%;
      background: var(--primary-color);
      margin: 50px auto;
      position: relative;
}

.our-services .row {
      margin-top: 170px;
}

.service-icon {
      display: block;
      font-size: 4rem;
      color: var(--primary-color);
}

.shadow1 {
      height: 220px;
      width: 80%;
      background: var(--primary-color);
      position: absolute;
      border-radius: 10px;
      bottom: 0;
      left: 10%;
      z-index: -1;
      box-shadow: 0 0 20px -15px black;
      transition: transform .7s;

}

.shadow2 {
      height: 220px;
      width: 64%;
      background: var(--primary-color);
      position: absolute;
      border-radius: 10px;
      bottom: 0;
      left: 18%;
      z-index: -2;
}

.main:hover .service {
      transform: translateY(-28px);
}

.main:hover .shadow1 {
      transform: translateY(-15px);
}


/* ===== End of Section Our Services ===== */









/* ======================= Section Contact Us ======================= */

/* Get in touch form */
.input-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      column-gap: 1rem;
}

.input-row .input-group {
      flex-direction: column;
}


textarea {
      width: 100%;
      border: 1px solid var(--primary-color);
      outline: none;
      padding: 10px;
      box-sizing: border-box;

}

label {
      margin-bottom: 6px;
      display: block;
      color: var(--primary-color);
}

.contact-us button {
      background-image: var(--gradient-background);
}

.contact_control {
      background: transparent;
      color: var(--secondary-color);
      border: white solid 1px !important;
      border: inherit;
}

input.contact_control {
      height: 3rem;
}

/* Reach us via */

tr td:first-child {
      padding-right: 20px;
}

tr td {
      padding-top: 20px;
}

.contact-us .container .col-8 {
      background-color: var(--first-color-lighten);
}

.contact-us .container .col-4 {
      background-color: var(--primary-color);
}

.social-icons a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin: 0.5rem;
      color: white;
      background-image: linear-gradient(to right, rgb(12, 94, 63), rgb(13, 132, 100), rgb(23, 141, 110));
      border-radius: 15px;

}

.social-icons .fa {
      color: white;
}

.container td {
      color: rgb(179, 129, 3);
}

/* ===== End of Section Contact Us ===== */










/* ============================ Section about us ============================ */
.about-us {
      margin-right: 200px;
      margin-left: 200px;
      text-align: center;
}

.about-us-container {
      border: var(--primary-color) solid 2px !important;
      border-radius: 25px;
      border: inherit;
      padding: 15px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
}

.about-us img {
      border-radius: 300px;

}

.about-us p {
      font-style: italic;
      font-weight: bold;
      font-variant: inherit;
      font-size: larger;
}

.about-us h1 {
      font-variant: initial;
      font-size: xx-large;
      text-align: center;
      margin: 50px auto 100px;
      color: var(--primary-color);
}

.main {
      width: 90%;
      min-height: 400px;
      text-align: center;
      position: relative;
}

/* ===== End of Section About Us ===== */