@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
      --background-color: #e6e6e6;

      --primary-color: rgb(45, 3, 3);
      --secondary-color: rgb(184, 38, 38);

      --white: rgb(255, 255, 255);
}

body {
      font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h6 {
      font-family: 'Roboto', sans-serif;
}

button {
      border: none;
}

a,
a:hover,
a:focus,
a:active {
      text-decoration: none;
      color: inherit;
}

.banner {
      width: 100%;
      opacity: 0.9;
      background-size: cover;
      background-position: center;
}

.text-highlight {
      color: rgb(184, 38, 38);
}

.general-button {
      background-color: var(--secondary-color);
      color: var(--white);
}

/* Section Navigation */
nav {
      position: sticky;
      top: 0;
      padding: 0 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--background-color);
      z-index: 999;
}

.logo {
      width: 80px;
      cursor: pointer;
}

nav ul {
      margin-bottom: 0;
}

nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
}

nav ul li a {
      text-decoration: none;
      color: var(--primary-color);
      text-transform: uppercase;
      font-size: large;
      font-weight: bold;
}

nav ul li::after {
      content: '';
      height: 3px;
      width: 0;
      background: var(--primary-color);
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
}

nav ul li:hover::after {
      width: 100%;
}

.content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      color: wheat;
}

.content h6 {
      margin: 20px auto;
      font-weight: 100;
      line-height: 50px;
      font-size: 28px;
}

.content h5 {
      font-size: 45px;
      margin-top: 80px;
}

nav>img {
      height: 6rem;
      padding: 0.3rem;
}

.sec-banner {
      background-color: #e6e6e6;
      display: flex;
      margin: 0 10%;
      height: 50rem;
}

.sec-banner img {
      object-fit: contain;
      height: 100%;
}

.jewellery-image {
      width: 100%;
      height: fit-content;
}

.text-container {
      color: var(--primary-color);
      text-align: center;
}

.text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
}

h1 {
      font-size: 4rem;
}

.thumbnail {
      background-color: #f0f0f0;
}

.contact-box {
      background: #e6e6e6;
      display: flex;
      color: var(--primary-color);

}

.input-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
}

.input-row .input-group {
      flex-basis: 45%;
}

input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #ebdcdc;
      outline: none;
      padding-bottom: 5px;
}

textarea {
      width: 100%;
      border: 1px solid #ebdcdc;
      outline: none;
      padding: 10px;
      box-sizing: border-box;
}

label {
      margin-bottom: 6px;
      display: block;
      color: var(--primary-color);
}

tr td:first-child {
      padding-right: 20px;
}

tr td {
      padding-top: 20px;
}

/* Styling of Jewellery */
.tile-jewellery {
      background-color: var(--background-color);
}

/* Styling of Contact Us */
.contact-list {
      color: var(--secondary-color);
}

.social-icons a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin: 0.5rem;
      color: var(--white);
      background-color: var(--primary-color);
}

.price small {
      font-size: 0.7rem;
      color: red;
}

.container-img .container-like-icon {
      position: absolute;
}

.container-like-icon:hover {
      background-color: rgba(0, 0, 0, 0.4);
}