* {
      padding: 0px;
      margin: 0px;
      font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
      --font-color: #6F233F;
}

.banner {
      width: 100%;
      opacity: 0.9;
      background-size: cover;
      background-position: center;
}

nav {
      margin-bottom: 3rem;
      padding: 0 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ECD4EA;
}

.logo {
      width: 80px;
      cursor: pointer;
}

nav ul {
      margin-bottom: 0;
}

nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
}

nav ul li a {
      text-decoration: none;
      color: var(--font-color);
      text-transform: uppercase;
      font-size: large;
      font-weight: bold;

}

a:focus {
      color: inherit;
}

nav ul li::after {
      content: '';
      height: 3px;
      width: 0;
      background: var(--font-color);
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
}

nav ul li:hover::after {
      width: 100%;
}

.content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      color: #ECD4EA;
}

.content h6 {
      margin: 20px auto;
      font-weight: 100;
      line-height: 50px;
      font-size: 28px;
}

.content h5 {
      font-size: 45px;
      margin-top: 80px;
}

button {
      width: 150px;
      padding: 10px 0;
      text-align: center;
      margin: 10px 100px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid var(--font-color);
      background: transparent;
      color: var(--font-color);
      cursor: pointer;
      overflow: hidden;
      position: relative;
}

span {
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 00.5s;
}

button:hover span {
      width: 100%;
}

button:hover {
      border: none;
}

nav>img {
      height: 6rem;
      border: 1px solid rgb(255, 196, 0);
}

.sec-banner {
      background-color: #ECD4EA;
      display: flex;
      margin: 0 10%;
      height: 50rem;
}

.sec-banner img {
      object-fit: contain;
      height: 100%;
}

.jewellery-image {
      width: 100%;
      height: fit-content;
}

.text-container {
      color: var(--font-color);
      text-align: center;
}

.text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
}

h1 {
      font-size: 4rem;
}